.c-revealing-lists {
    margin: 0;
    padding: 0;
    list-style: none;

    @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
            animation-delay: #{$i * 0.2}s;
        }
    }

    &__item {
        margin-bottom: 10px;
        opacity: 0;
        transform: translateX(-30px);
        animation: reveal-left 0.5s ease-out forwards;  
    }

    &__link {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
}