.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo img {
    margin-right: 5px;
}

.navbar__items {
    list-style: none;
}

.navbar__item {
    padding: 12px 20px;
}

.navbar__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
}

.navbar__item a:hover {
    cursor: pointer;
    color: #FF9100;
}